/* introduction-section */
.introduction-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.introduction-section-text {
    position: relative;
}
.introduction-section-text > h2 {
    font-size: 2.5rem;
    font-family: var(--point-font-family);
}
.introduction-section-text > p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    margin-top: 30px;
}
.introduction-section-icon-wrap {
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.introduction-section-icon-wrap > i {
    font-size: 3rem;
    color: var(--point-color);
    transition: all .5s;
}
.introduction-section-icon-wrap > i:hover {
    transform: translateY(5px);
    cursor: pointer;
}